/**
//Style Guide
//
div {
width: 73px;
height: 73px;
border: 1px solid white;
margin: 10px;
}

div#type {
width: 400px;
border: none;
position: fixed;
top: 0px;
left: 130px;
}

h1 {
	font-family: Tinos;
	font-size: 36px;
}

p {
	font-size: 18px;
	font-family: Josefin Sans;
}

h3 {
	font-size: 24px;
	font-family: Josefin Sans;
}

footer {
	font-size: 12px;
	font-family: Josefin Sans;
}

// Main Primary color
#color1 { background-color: #704099 } 
#color2 { background-color: #A677CF }
#color3 { background-color: #FFBC6F }	
#color4 { background-color: #B1F76A }
#color5 { background-color: #86D733 }
*/

body {
	font-size: 14px;
	font-family: Josefin Sans;
	line-height: 1.5;
}

h1 {
	display: inline-block;
	font-family: Tinos;
}

div.logo {
	height: 100px;
	width: 102%;
	background-color: #704099;
	position: fixed;
	margin: -16px 0 0 -8px;
	z-index: 5;
	box-shadow: 0 0 11px grey;
}

div.logo a{
	font-family: Coda;
	font-size: 48px;
	color: white;
	font-weight: 800;
	margin: 25px;
	text-shadow: 2px 2px 0px #A677CF , 
							-2px -2px 0px #A677CF , 
							 2px -2px 0px #A677CF , 
							 -2px 2px 0px #A677CF ;
	position: relative;
	top: 20px;
}

nav.navbar {
	font-size: 18px;
	font-family: Josefin Sans;
	height: 10px;
	background-color: #A677CF;
	position: fixed;
	margin: 84px 0 0 -8px;
	width: 100%;
	z-index: 2;
}

header a {
	text-decoration: none;
	color: white;
}

nav.navbar>div.tab {
	padding: 5px 30px 0 30px;
	min-width: 100px;
	background-color: #B1F76A;
	display: inline-block;
	border-radius: 0px 0px 15px 15px;
	z-index: 2;
	box-shadow: 0px 0px 5px grey;
	height: 30px;
	position: relative;
	top: -26px;
	text-align: center;
	margin: 0 0 0 20px;
	line-height: 1;
	display: inline-block;
}


nav.navbar a {
	color: rgb(81, 81, 81);
}

div#content {
	background-color: white;
	height: auto;
	width: 800px;
	position: relative;
	top: 120px;
	left: 73px;
	box-shadow: 0 0 2px grey;
	border-radius: 5px;
	margin-bottom: 25px;
	padding: 0 0 50px 0;
}

content {
	position: relative;
	top: 10px;
	left: 30px;
}

table {
	border-collapse: collapse;
}

table tr.header {
	font-size: 20px;
	border-bottom: 1px solid black;
}

table.JE tr.header {
	border-bottom: none;
}

table.history td {
	width: 160px;
}
table.history td#debit,  table.history td#credit,table.history td#date{
	width: 110px;
}

td.number{
	text-align: right;
	padding-right: 30px
}

tr.JEHead>td {
	font-weight: bold;
}

input[type='number'] {
	width: 100px;
}


.aNav, .rNav {
	position: fixed;
	z-index: 6;
	left: -60px;
	width: 54px;
	height: 290px;
	top: 140px;
}

.aNav>div, .rNav>div{
	display: inline-block;
	border-radius: 30px;
	width: 50px;
	height: 50px;
	text-align: center;
	background-color: #FFBC6F;
	margin: 0 0 10px 0;
	box-shadow: 0 0 3px rgb(200, 200, 200);
	border: 2px solid white;
}

.aNav>div> a, .rNav>div>a {
	position: relative;
	font-size: 24px;
	top: 8px;
	font-weight: bold;
}

table#COA {
	position: relative;
	min-width: 400px;
}

am-widget {
	display: inline-block;
}

coa-widget.secondary {
	display: inline-block;
	position: relative;
	left: 80px;
}

button {
	width: 75px;
}

detail-widget{
	display: block;
	position: relative;
	padding: 0 0 50px 0;

}

detail-widget.secondary{
	display: block;
	position: relative;
	padding: 50px 0 50px 0;

}
