/**
//Style Guide
//
div {
width: 73px;
height: 73px;
border: 1px solid white;
margin: 10px;
}

div#type {
width: 400px;
border: none;
position: fixed;
top: 0px;
left: 130px;
}

h1 {
	font-family: Tinos;
	font-size: 36px;
}

p {
	font-size: 18px;
	font-family: Josefin Sans;
}

h3 {
	font-size: 24px;
	font-family: Josefin Sans;
}

footer {
	font-size: 12px;
	font-family: Josefin Sans;
}

// Main Primary color
#color1 { background-color: #704099 } 
#color2 { background-color: #A677CF }
#color3 { background-color: #FFBC6F }	
#color4 { background-color: #B1F76A }
#color5 { background-color: #86D733 }
*/

body {
	font-size: 14px;
	font-family: Josefin Sans;
}

div.logo {
	height: 100px;
	width: 102%;
	background-color: #704099;
	position: fixed;
	margin: -16px 0 0 -8px;
	z-index: 5;
	box-shadow: 0 0 11px grey;
}

div.logo a{
	font-family: Coda;
	font-size: 48px;
	color: white;
	font-weight: 800;
	margin: 25px;
	text-shadow: 2px 2px 0px #A677CF , 
							-2px -2px 0px #A677CF , 
							 2px -2px 0px #A677CF , 
							 -2px 2px 0px #A677CF ;
	position: relative;
	top: 20px;
}

nav.navbar {
	font-size: 18px;
	font-family: Josefin Sans;
	height: 10px;
	background-color: #A677CF;
	position: fixed;
	margin: 84px 0 0 -8px;
	width: 100%;
	z-index: 2;
}

header a {
	text-decoration: none;
	color: white;
}

nav.navbar>div.tab {
	padding: 5px 30px 0 30px;
	min-width: 100px;
	background-color: #B1F76A;
	display: inline-block;
	border-radius: 0px 0px 15px 15px;
	z-index: 2;
	box-shadow: 0px 0px 5px grey;
	height: 30px;
	position: relative;
	top: -26px;
	text-align: center;
	margin: 0 0 0 20px;
	display: inline-block;
}


nav.navbar a {
	color: rgb(81, 81, 81);
}

content {
	position: relative;
	top: 135px;
}

table {
	border-collapse: collapse;
}

table tr.header {
	font-family: Tinos;
	font-size: 20px;
}

table.history td {
	border: 1px solid black;
	width: 170px;
}

.aNav {
	position: fixed;
	z-index: 6;
	left: 390px;
	width: 290px;
	height: 50px;
	top: -55px;
}

div#JE {
	display: inline-block;
	border-radius: 30px;
	width: 50px;
	height: 50px;
	text-align: center;
	background-color: #FFBC6F;
	border: 2px solid white;
}

div#JE > a {
	position: relative;
	font-size: 24px;
	top: 9px;
	font-weight: bold;
}
