<h1>Profit and Loss</h1>


<table class='history'>
	<tr>

		<td>Starting Date:</td>
		<td><input type='date' ng-model='sDate'></td>
		<td>Ending Date:</td>
		<td><input type='date' ng-model='eDate'></td>

	</tr>
	<tr>
		<td><button ng-click='filter()'>Select</button></td>
	</tr>
	<tr class='header'>
		<td>Income</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr ng-repeat='gl in incomeGLs | orderBy: "code"'>
		<td>{{gl.code}}</td>
		<td>{{gl.desc}}</td>
		<td></td>
		<td class='number'>{{getTotalbyCode(gl.code).credit - getTotalbyCode(gl.code).debit | currency}}</td>
	</tr>
	<tr id='subtotal'>
		<td></td>
		<td></td>
		<td>Total Income:</td>
		<td class='number'>{{totalIncome | currency}}</td>
	</tr>
	<tr class='header'>
		<td>Expense</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr ng-repeat='gl in expenseGLs | orderBy: "code"'>
		<td>{{gl.code}}</td>
		<td>{{gl.desc}}</td>
		<td></td>
		<td class='number'>{{getTotalbyCode(gl.code).credit - getTotalbyCode(gl.code).debit | currency}}</td>
	</tr>
	<tr id='subtotal'>
		<td></td>
		<td></td>
		<td>Total Expense:</td>
		<td class='number'>{{totalExpense | currency}}</td>
	</tr>

	<tr id='bottomline'>
		<td></td>
		<td></td>
		<td>Profit/(Loss):</td>
		<td class='number'>{{totalIncome + totalExpense | currency}}</td>
	</tr>

</div>
</table>