<h1>Account Maintenance</h1>
<table>
	<form>
		<tr>
			<td>GL Code:</td>
			<td><input type='number'></td>
		</tr>
		<tr>
			<td>GL Description:</td>
			<td><input type='text'></td>
		</tr>
		<tr>
			<td>GL Type:</td>
			<td>
				<select name='GL Type'>
					<option value='Income'>Income</option>
					<option value='Expense'>Expense</option>
					<option value='Asset'>Asset</option>
					<option value='Liability'>Liability</option>
					<option value='Equity'>Equity</option>
			</td>
		</tr>
	</form>