<div class='aNav'>
	<div id='JE'><a href='#/accounting/journal'>JE</div>
	<div id='AM'><a href='#/accounting/accountMaintenance'>AM</div>
</div>

<div class='rNav'>
	<div id='GL'><a href='#/reports/detail'>GL</div>
	<div id='PL'><a href='#/reports/PL'>PL</div>
	<div id='BS'><a href='#/reports/BS'>BS</div>
</div>

<div class='logo'><a href='#'>Ng-Book</a></div>
<nav class='navbar'>
	<div class='tab' id='atab'><a href>Accounting</a></div>
	<div class='tab' id='rtab'><a href>Reports</a></div>
</nav>