<!DOCTYPE html>
<html>
<head>
	<title>Ng-Book</title>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link href='http://fonts.googleapis.com/css?family=Tinos|Oleo+Script+Swash+Caps|Josefin+Sans:300,400,600,300italic,400italic,600italic|Coda:400,800|Libre+Baskerville:400,700,400italic|Great+Vibes|Vollkorn:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<div class='logo'>Ng-Book</div>
		<div class='navbar'>
			<a href=''>Accounting</a>
			<a href=''>Reports</a>
		</div>
	</header>
	<content>


	</content>
	<footer></footer>

</div>
</body>
</html>

