<!DOCTYPE html>
<html ng-app='app'>
<head>
	<title>Ng-Book</title>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link href='http://fonts.googleapis.com/css?family=Tinos|Oleo+Script+Swash+Caps|Josefin+Sans:300,400,600,300italic,400italic,600italic|Pacifico|Coda:400,800|Libre+Baskerville:400,700,400italic|Great+Vibes|Vollkorn:400,700' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
	<script type="text/javascript" src="../modules/app.js"></script>
</head>
<body background='../style/background2.png'>
	<header>
		<app-header></app-header>

	</header>
	<div id='content'><content data-ng-view=''>

	</content></div>
	<footer></footer>


</body>
<script>

</script>
</html>

